section(data-background="images/home.jpg")
  h4.white (SUPER)
  h1.white APPS HÍBRIDOS
  h4.white COM
  h1.white IONIC FRAMEWORK

  h5.white.left @mabrasil
  h5.white.left @AbraaoAlves
  h5.white.right #CocoaHeads
