// Color Palette
// (You can add your custom colors to the palette)

blue = #2980b9
red  = #c0392b

// Colors to be used
primary   = blue
secondary = red

// Custom grids
.reveal
  .col-desktop
    display: inline-block
    width 50%
    margin 10px 10px
  .col-iphone
    display: inline-block
    width 30%
    margin 10px 10px
